<div class="footer">
    <div class="footer_wrapper">
<div class="footer_content">
    <div class="logo">
        <a routerLink="" routerLinkActive="active"><h1>Dovar<span>Academy</span></h1></a>
    </div>
    <div class="footer_link">
        <ul>
            <li><a routerLink="" routerLinkActive="active">Home</a></li>
            <li><a routerLink="About" routerLinkActive="active">About</a></li>
            <li><a routerLink="Getstarted" routerLinkActive="active">Get Started</a></li>
            <li><a routerLink="Contact" routerLinkActive="active">Contact Us</a></li>
        </ul>
    </div>
</div>
</div>
<div class="footer_divider"></div>
<div class="footer_copy">
    <p>© 2021 GADS Program. Developed by Jacob Merit</p>
</div>
</div>
<router-outlet></router-outlet>
