.course_title{
    background: rgba(0, 0, 0, 0.89);
}
.course_title h2{
    font-size: 3rem;
    font-weight: 400;
    margin: 10rem auto 5rem;
    text-align: center;
    color: #fff;
    
}


.card_wrapper{
    padding: 8px 8%;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.card{
   width: 100%;
   padding: 2rem;
   background:rgba(255,255,255,0.12);
   border:1px solid rgb(102, 101, 101);
   border-radius: .5rem;
   cursor: pointer;
   transition: all 500ms ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    background: orange;
    border-radius: .5rem;
    color: #fff !important;
    border: none;
}
.card_title, .course_des, .course_id, .course_price, .course_link{
    margin: .8rem auto 0;
}
 h1{
    font-size: 1.7rem;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}
p{
    font-size: 1.5rem;
    font-weight: 300;
    color: #444;
}
@media  only screen and (max-width: 367px) {
    .card_wrapper{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 8px 2%;
}
}